
.home-container {
    text-align: center;
    padding: 50px 20px;
    background-color: #121212; /* Dark background */
    color: white;
}

.home-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #ff9900; /* Accent color for title */
}

.event-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 21px;
}
